@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
}

.left, .right{
    position: absolute;
    height: 100%;
    width: 50%;
}
.left{
    background: #363A5D;
}
.right{
    left: 50%;
    background: #D3D9DD;
}
.left-strip{
    position: absolute;
    width: 1px;
    height: 100vh;
    background: #fff;
    left: 120px;
    opacity: 0.5;
}
.right-strip{
    position: absolute;
    width: 1px;
    height: 100vh;
    background: #fff;
    right: 120px;
    opacity: 0.5;
}
.nav{
    position: fixed;
    width: 100%;
    height: 100px;
}
.logo,
.menu,
.categories,
.search,
.bag {
    position: absolute;
    padding: 10px;
    margin-top: 10px;
}
.logo{
    left: 20px;
    font-size: 20px;
    font-weight: bolder;
}
.logo .reg{
    font-size: 14px;
    vertical-align: super;
}
/* .menu {
    left: 150px;
    line-height: 1.2;
    font-size: 20px;
    display: none;
    cursor: pointer;
} */
.search,
.bag{
    background: #fff;
    color: #363A5D;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    margin-top: 18px;
}

.search{
    right: 180px;
}

.bag{
    right: 40px;
}

.categories{
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    border-radius: 50px;
    background: #fff;
    color: #363A5D;
    font-weight: 500;
}
.categories ul{
    list-style: none;
}
.categories ul li{
    display: inline-block;
    padding: 4px 20px;
    font-size: 20px;
    cursor: pointer;
}
.media{
    position: absolute;
    left: -100px;
    top: 50%;
    transform: rotate(-90deg);
}
.media ul{
    list-style: none;
}
.media ul li{
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
}
.media ul li:not(:last-child){
    padding-right: 60px;
}
.size{
    position: absolute;
    left: 150px;
    bottom: 20px;
}
.size ul{
    list-style: none;
}
.size ul li{
    display: inline-block;
    font-weight: 500;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 1.5;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.size ul li:hover{
    background-color: #fff;
    color: #363A5D;
}
.size span{
    font-weight: 500;
}
.size span::after{
    display: inline-block;
    content: "";
    border: 0.5px solid #fff;
    opacity: 0.5;
    width: 50px;
    margin: 0 0 0 10px;
    transform: translateY(-4px);
}
.product-img{
    width: 500px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    animation: fly 4s ease-in-out infinite;
}
@keyframes fly {
    0%{
        transform: translate(-50%, -46%);
    }
    50%{
        transform: translate(-50%, -54%);
    }
    100%{
        transform: translate(-50%, -46%);
    }
}

.product-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.product-title{
    font-size: 100px;
}
.product-title::after{
    content: '.';
    color: #363A5D;
}
.product-subtitle{
    font-size: 25px;
    font-weight: 500;
}
.dots{
    position: absolute;
    top: 43%;
    right: -25px;
    transform: rotate(90deg);
}
.dot{
    display: inline-block;
    height: 7px;
    width: 7px;
    background: transparent;
    border: 2px solid #363A5D;
    border-radius: 50%;
    margin: 0 18px;
    cursor: pointer;
}
.dot:first-child{
    background: #363A5D;
    margin-left: 0;
}
.bottomnav{
    position: absolute;
    bottom: 0;
    right: 0;
}
.bottomnav-img{
    background: url('levi-shirt.jpg') no-repeat;
    background-position: top;
    background-size: cover;
    width: 250px;
    height: 150px;
}
.bottomnav ul{
    list-style: none;
}
.bottomnav ul li{
    display: inline-block;
    padding: 10px 15px;
    margin: 20px 20px 0;
    background: #363A5D;
    color: #fff;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.bottomnav ul li:hover{
    background: #fff;
    color: #363A5D;
}

@media (mix-width:768px) {
    .categories{
        display: block;
    }
    .size{
        display: block;
    }
}

@media (max-width:767px) {
    .categories{
        display: none;
    }
    .product-title {
        font-size: 90px;
    }
    .search {
        right: 125px;
    }
    .size{
        left: 10px;
        display: none;
    }
}
@media (max-width: 600px){
    .product-title {
        font-size: 45px;
    }
    .product-subtitle {
        font-size: 20px;
    }
    .product-img {
        width: 500px;
        max-width: 70%;
    }
    .bottomnav {
        display: none;
    }
    .menu{
        opacity: 1;
    }
}
@media (min-width: 601px){
    .menu{
        opacity: 0;
    }
}

/* Menu Style */
.r-button{
    --uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
    --uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
    --uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
    --uirButtonBorderStyle: var(--rButtonBorderStyle, solid);
    --uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
    --uirButtonFontFamily: var(--rButtonFontFamily, inherit);
    --uirButtonFontSize: var(--rButtonFontSize,  inherit);
    --uirButtonColor: var(--rButtonColor);
  
    background-color: var(--uirButtonBackgroundColor);
    padding: var(--uirButtonPadding);
  
    border-width: var(--uirButtonBorderWidth);
    border-style: var(--uirButtonBorderStyle);
    border-color: var(--uirButtonBorderColor);
  
    cursor: pointer;
  
    font-family: var(--uirButtonFontFamily);
    font-size: var(--uirButtonFontSize);
  }
  
  .r-button::-moz-focus-inner,
  .r-button[type="button"]::-moz-focus-inner,
  .r-button[type="reset"]::-moz-focus-inner,
  .r-button[type="submit"]::-moz-focus-inner {
    
    /* Remove the inner border and padding in Firefox. */
    
    border-style: none;
    padding: 0;
  }
  
  /* The component will reset browser's styles of link */
  
  .r-link{
      --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
      --uirLinkTextColor: var(--rLinkTextColor);
      --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  
      display: var(--uirLinkDisplay) !important;
      color: var(--uirLinkTextColor) !important;
      text-decoration: var(--uirLinkTextDecoration) !important;
  }
  
  /* The component will reset browser's styles of list */
  
  .r-list{
      --uirListPaddingLeft: var(--rListPaddingLeft, 0);
      --uirListMarginTop: var(--rListMarginTop, 0);
      --uirListMarginBottom: var(--rListMarginBottom, 0);
      --uirListListStyle: var(--rListListStyle, none);
  
      padding-left: var(--uirListPaddingLeft) !important;
      margin-top: var(--uirListMarginTop) !important;
      margin-bottom: var(--uirListMarginBottom) !important;
      list-style: var(--uirListListStyle) !important;
  }
  
  /* Basic styles of the hamburger component */
  
  .m-hamburger{  
    --uiHamburgerThickness: var(--hamburgerThickness, 4px);
  
    display: var(--hamburgerDisplay, inline-flex);
    width: var(--hamburgerWidth, 28px);
    height: var(--hamburgerHeight, 20px);
  
    position: relative;
  }
  
  .m-hamburger::before, 
  .m-hamburger::after, 
  .m-hamburger__label{
    width: 100%;
    height: var(--uiHamburgerThickness);
    border-radius: var(--hamburgerBorderRadius, 5px);
    background-color: var(--hamburgerBackgroundColor, currentColor);
  
    position: absolute;
    left: 0;
  }
  
  .m-hamburger::before, 
  .m-hamburger::after{
    content:"";
  }
  
  .m-hamburger::before{
    top: 0;
  }
  
  .m-hamburger::after{
    bottom: 0;
  }
  
  .m-hamburger__label{
    /* The calculation of middle hamburger button line position */
    
    top: calc(50% - calc(var(--uiHamburgerThickness) / 2));
  }
  
  /* helper to hide elements that are available only for screen readers. */
  
  .screen-reader{
    width: var(--screenReaderWidth, 1px) !important;
    height: var(--screenReaderHeight, 1px) !important;
    padding: var(--screenReaderPadding, 0) !important;
    border: var(--screenReaderBorder, none) !important;
  
    position: var(--screenReaderPosition, absolute) !important;
    clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
    overflow: var(--screenReaderOverflow, hidden) !important;
  }
  
  /*
  =====
  MENU STYLES
  =====
  */
  
  .menu{
    --uiMenuCircleSize: var(--menuCircleSize, 6.25rem);
    --uiMenuCircleOffset: var(--menuCircleOffset, 1rem);
    --uiMenuCircleHeight: calc(var(--uiMenuCircleSize) / 2);  
    --uiMenuCircleBackgroundColor: var(--menuCircleBackgroundColor, currentColor);
  
    --uiMenuHamburgerWidth: var(--menuHamburgerWidth, 1.75rem);
    --uiMenuHamburgerHeight: var(--menuHamburgerHeight, 1.25rem);
    
    --rButtonPaddingTop: calc(var(--uiMenuCircleHeight) - var(--uiMenuHamburgerHeight) - var(--uiMenuCircleOffset));
    
    --hamburgerWidth: var(--uiMenuHamburgerWidth);
    --hamburgerHeight: var(--uiMenuHamburgerHeight);
    --hamburgerBackgroundColor: var(--menuHamburgerBackgroundColor, #fff);
  
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;  
  
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--menuZindex, 9998);

  }
  
  .menu__nav{
    box-sizing: border-box;
    width: 100%;
    height: 0;
  
    transition: opacity .2s ease-out;
    opacity: 0;
  
    display: flex;
    align-items: flex-end;
    z-index: 2;
  }
  
  .menu__list{
    width: 100%;
    max-height: 100%;
  
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .menu__toggle{
    box-sizing: border-box;
    width: var(--uiMenuCircleSize);
    height: var(--uiMenuCircleHeight);
    flex: none;
  
    position: relative;
  }
  
  .menu__toggle::before{
    /*
    1. The font-size property is used to simplify calculations of the element's sizes and position
    2. The negative value for the bottom property need for hiding half of circle. 
    */
  
    content: "";
    width: 1em;
    height: 1em;
    font-size: var(--uiMenuCircleSize); /* 1 */
    background-color: #363a5d;
    border-radius: 50%;
    position: absolute;
    bottom: -.5em; /* 2 */
    left: calc(50% - .5em);
    z-index: -1;
    will-change: width, height;
    transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
                width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
                height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  }
  
  /* styles of hamburger's animation */
  
  .m-hamburger::before, 
  .m-hamburger::after, 
  .m-hamburger__label{
    transition-timing-function: ease;
    transition-duration: .15s;  
  }
  
  .m-hamburger::before, 
  .m-hamburger::after{
    transition-property: transform;
  }
  
  .m-hamburger__label{
    transition-property: transform, opacity;
  }
  
  /*
  =====
  MENU STATES
  =====
  */
  
  .menu__toggle:focus{
    outline: var(--menuHaburgerOutlineOWidth, 2px) solid var(--menuHaburgerOutlineColor);
    outline-offset: var(--menuHaburgerOutlineOffset, 5px);
  }
  
  .menu_activated{
    height: 100%;
  }
  
  .menu_activated .menu__nav{
    flex-grow: 1;
    opacity: 1;
  
    will-change: opacity;
    transition-duration: .2s;
    transition-delay: .3s;
  }
  
  .menu_activated .menu__toggle::before{
    width: 100vmax;
    height: 100vmax;
    transform: translate3d(-50vh, -50vh, 0) scale(5);
    transition-duration: 1s;
  }
  
  .menu:not(.menu_activated) .menu__list{
    display: none;
  }
  
  .menu_activated .m-hamburger::before{
    top: 50%;
    transform: translate3d(0, -50%, 0) rotate(45deg);
  }
  
  .menu_activated .m-hamburger::after{
    transform: translate3d(0, -50%, 0) rotate(135deg);
    top: 50%;
  }
  
  .menu_activated .m-hamburger__label{
    transform: rotate(-45deg) translate3d(-.285em,-.3em, 0);
    opacity: 0;
  }
  
  /*
  =====
  SETTINGS
  =====
  */
  
  :root{
    --colorWhite: #fff;
    --colorMain: #4557bb;
    --menuCircleBackgroundColor: var(--colorMain);
    --menuHamburgerBackgroundColor: var(--colorWhite);
    --menuHaburgerOutlineColor: var(--colorMain);
  }
  
  .menu_activated{
    --menuHaburgerOutlineColor: var(--colorWhite);
  }
  
  /*
  =====
  DEMO
  =====
  */
  
  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;  
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
  }
  
  .page{
    max-width: 380px;
    padding: 1rem;
    margin: auto;  
    text-align: center;
  }
  
  .page__name{
    display: block;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .page__hint{
    display: block;
    line-height: 1.45;
    margin-top: 1rem;
  }
  
  .menu__group{
    --rLinkTextColor: var(--colorWhite);
  
    padding: .5rem 2rem; 
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .linktr{
    order: -1;
    padding: 1.75rem;
    text-align: center;
  }
  
  .linktr__goal{
    background-color: rgb(209, 246, 255);
    color: rgb(8, 49, 112);
    box-shadow: rgb(8 49 112 / 24%) 0px 2px 8px 0px;
    border-radius: 2rem;
    padding: .5rem 1.25rem;
  }
  
  /* @media (min-width: 1024px){
    
    .linktr{
      position: absolute; 
      right: 1rem; 
      bottom: 1rem;
    }
  }
   */
